.transition,
label{
	transition: all .5s ease-out;
}

.nopadding{
	padding: 0 !important;
}

main h3{
	text-transform: uppercase;
	font-size: 1.4rem;
}

main label{
	display: block;
	font-weight: 700;
	font-size: .95rem;
	padding-left: 10px;
}

main hr{
	margin: 1.3rem 0;
}

main a{
	color: #dd3d3d;
}

main a:hover{
	color: #f35363;
	text-decoration: none;
}

header{
	background-color: #151515;
}

.navbar-nav{
	width: 100%;
}

header .navbar-nav i{
	color: #686868;
}

header .navbar-nav li{
	padding-left: 40px;
}

header .navbar-nav li a{
	font-size: .8rem;
	text-transform: uppercase;
}

header  img{
	height: 120px;
}

header .navbar-inverse .navbar-nav .nav-link {
    color: #e2e2e2;
}

main{
	margin: 50px 0; 
}

.form-wrapper{
	background-color: #f5f3f4;
	padding: 25px 20px 25px;
	margin-bottom: 35px;
}

/*Date*/

#datetimepicker4 .input-group-addon{
	background-color: #f5f3f4;
}

.form-control{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.radio-wrapper label {
    text-align: center;
    padding-right: 10px;
}

/*checkbox*/
form .btn-group{
	display: flex;
}

.btn-group label{
	flex-grow: 1 !important;
}

label.btn {
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
}
label.btn span {
  display: block;
   padding: 7px 20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
label.btn input[type=checkbox] {
  display: none;
}
label.btn input:checked + span {
  display: block;
  color: #fff;
  background-color: #dd3d3d;
}
label.btn.btn-secondary {
    border: 1px solid #cccccc;
}

main .exercise-wrapper{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.exercise{
	font-size: .95rem;
	color: #dd3d3d;
	text-decoration: underline;
	font-weight: 600;
}

.btn-wrapper{
	margin-top: 40px;
	text-align: right;
}

.btn-wrapper input[type="submit"]{
	color: #fff;
	background-color: #dd3d3d;
	text-transform: uppercase;
}

/*radio*/

.radio-wrapper{
	display: flex;
	justify-content: space-between;
}

.radio-wrapper input[type="radio"] {
    display: none;
}

.radio-wrapper label{
	display: inline;
	font-weight: 400;
	padding-left: 0px;
}

.radio-wrapper span{
	display: inline-block;
	width: 15px;
	height: 15px;
}

input[type="radio"] +  span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + span {
     background-color: #cccccc;
}

input[type="radio"]:checked + span{
     background-color: #dd3d3d;
}

input[type="radio"] +  span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

/*Sidebar Start*/
.sidebar-wrapper{
	background-color: #f5f3f4;
	padding: 25px 20px 35px;
}

.post{
	margin-bottom: 20px;
}

.post-date{
	text-align: right;
	margin-bottom: 10px;
}

.post-date a{
	color: #000;
	font-size: .7rem;
}

.post-title{
	margin-bottom: 5px;
}

.post-title a{
	color: #dd3d3d;
	font-weight: 600;
	text-decoration: underline;
}

.post-nav a {
    color: #fff;
    background-color: #dd3d3d;
    border-radius: 20px;
    padding: 0px 8px 3px;
    margin-right: 10px;
    text-transform: lowercase;
}

.post-nav a:hover {
    color: #fff;
}

/*Sidebar End*/

footer{
	background-color: #ececec;
}

footer .copyright{
	padding: 35px 0;
}
